# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of go coverage tool
*.out

# Go workspace file
go.work.sum

# Dependency directories
vendor/

# Build output
/bin/
/dist/

# Database files
*.db

# OS metadata
.DS_Store
Thumbs.db
